<h1>data list </h1>


<table>
    <tr>
        <td>nickname</td>
        <td>address</td>
        <td>phone</td>
        <td>content</td>
    </tr>
    <% .forEach   (it)
    <tr>
        <td><%= %></td>
        <td></td>
        <td></td>
    </tr>    
</table>
