body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 40px;
    letter-spacing: 0.1rem;
    font-style: italic;
    background-color: rgba(221, 224, 224, 0.815);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

footer {
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
    height: 12vh;
    bottom: 0px;
    /* position: absolute; */
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
}