<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="../../static/css/owner/owner_order.css" rel="stylesheet" type="text/css" />
    <script defer type="text/javascript" src="../../static/JS/owner.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script
  src="https://code.jquery.com/jquery-3.6.3.js"
  integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
  crossorigin="anonymous"></script>


    <title>Document</title>
</head>

<body>
    <header>
        일석삼조
    </header>
    
<div class="modal">
  <div class="modal_content">
    <div class="modal_top">
        <div class="order_image">
            이미지
        </div>
        <div class="order_content">
            <div class="content_body">
                이름 : 
            </div>
            <div class="content_body">
                전화번호 : 
            </div>
            <div class="content_body">
                주소 : 
            </div>
            <div class="content_body">
                요청 내용 : 
            </div>
        </div>
    </div>
    <div class="modal_button">
        <div class="button_body">
            <button class="button_content">
                수거 하기
            </button>
        </div>
        <div class="button_body">
            <button class="button_content">
                수거 완료
            </button>
        </div>
        <div class="button_body">
            <button class="button_content">
                배송중
            </button>
        </div>
        <div class="button_body">
            <button class="button_content">
                배송 완료
            </button>
        </div>
    </div>
  </div>
</div>
    <div class="owner-body">
        <div class="body-top">
            <div class="point">
                <span class="text">잔여 포인트: 0 P</span>
            </div>
        </div>
        <div class="body-bottom">
            <div onclick="modal_open()" class="order-content">
                <div class="content-left">
                    <div class="order-name">
                        변정민
                    </div>
                    <div class="order-address">
                        대한민국 어디시 어디도 어디군 어디로 어디읍 어디어디어디 
                    </div>
                    <div class="order-date">
                        2022-12-30
                    </div>
                </div>
                <div class="content-right">
                    대기중
                </div>
            </div>
            <div onclick="modal_open()" class="order-content">
                <div class="content-left">
                    <div class="order-name">
                        변정민
                    </div>
                    <div class="order-address">
                        대한민국 어디시 어디도 어디군 어디로 어디읍 어디어디어디 
                    </div>
                    <div class="order-date">
                        2022-12-30
                    </div>
                </div>
                <div class="content-right">
                    대기중
                </div>
            </div>
            <div onclick="modal_open()" class="order-content">
                <div class="content-left">
                    <div class="order-name">
                        변정민
                    </div>
                    <div class="order-address">
                        대한민국 어디시 어디도 어디군 어디로 어디읍 어디어디어디 
                    </div>
                    <div class="order-date">
                        2022-12-30
                    </div>
                </div>
                <div class="content-right">
                    대기중
                </div>
            </div>
            <div onclick="modal_open()" class="order-content">
                <div class="content-left">
                    <div class="order-name">
                        변정민
                    </div>
                    <div class="order-address">
                        대한민국 어디시 어디도 어디군 어디로 어디읍 어디어디어디 
                    </div>
                    <div class="order-date">
                        2022-12-30
                    </div>
                </div>
                <div class="content-right">
                    대기중
                </div>
            </div>
            <div onclick="modal_open()" class="order-content">
                <div class="content-left">
                    <div class="order-name">
                        변정민
                    </div>
                    <div class="order-address">
                        대한민국 어디시 어디도 어디군 어디로 어디읍 어디어디어디 
                    </div>
                    <div class="order-date">
                        2022-12-30
                    </div>
                </div>
                <div class="content-right">
                    대기중
                </div>
            </div>
            <div onclick="modal_open()" class="order-content">
                <div class="content-left">
                    <div class="order-name">
                        변정민
                    </div>
                    <div class="order-address">
                        대한민국 어디시 어디도 어디군 어디로 어디읍 어디어디어디 
                    </div>
                    <div class="order-date">
                        2022-12-30
                    </div>
                </div>
                <div class="content-right">
                    대기중
                </div>
            </div>
            <div onclick="modal_open()" class="order-content">
                <div class="content-left">
                    <div class="order-name">
                        변정민
                    </div>
                    <div class="order-address">
                        대한민국 어디시 어디도 어디군 어디로 어디읍 어디어디어디 
                    </div>
                    <div class="order-date">
                        2022-12-30
                    </div>
                </div>
                <div class="content-right">
                    대기중
                </div>
            </div>
            <div onclick="modal_open()" class="order-content">
                <div class="content-left">
                    <div class="order-name">
                        변정민
                    </div>
                    <div class="order-address">
                        대한민국 어디시 어디도 어디군 어디로 어디읍 어디어디어디 
                    </div>
                    <div class="order-date">
                        2022-12-30
                    </div>
                </div>
                <div class="content-right">
                    대기중
                </div>
            </div>
            <div onclick="modal_open()" class="order-content">
                <div class="content-left">
                    <div class="order-name">
                        변정민
                    </div>
                    <div class="order-address">
                        대한민국 어디시 어디도 어디군 어디로 어디읍 어디어디어디 
                    </div>
                    <div class="order-date">
                        2022-12-30
                    </div>
                </div>
                <div class="content-right">
                    대기중
                </div>
            </div>
            <div onclick="modal_open()" class="order-content">
                <div class="content-left">
                    <div class="order-name">
                        변정민
                    </div>
                    <div class="order-address">
                        대한민국 어디시 어디도 어디군 어디로 어디읍 어디어디어디 
                    </div>
                    <div class="order-date">
                        2022-12-30
                    </div>
                </div>
                <div class="content-right">
                    대기중
                </div>
            </div>
            <div onclick="modal_open()" class="order-content">
                <div class="content-left">
                    <div class="order-name">
                        변정민
                    </div>
                    <div class="order-address">
                        대한민국 어디시 어디도 어디군 어디로 어디읍 어디어디어디 
                    </div>
                    <div class="order-date">
                        2022-12-30
                    </div>
                </div>
                <div class="content-right">
                    대기중
                </div>
            </div>
        </div>
    </div>
    <footer>
        Copyright ©2022 . All rights reserved.
    </footer>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</body>

</html>