<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../static/css/owner/owner.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <title>Document</title>
</head>

<body>
    <header>
        일석삼조
    </header>
    <div class="owner-body">
        <div class="body-top">
            <div class="point">
                <span class="text">잔여 포인트: 0 P</span>
            </div>
        </div>
        <div class="body-bottom">
            <div class="order-post-button">
                <button onclick="location.href='owner_order.html'" type="button" class="btn btn-warning btn-controller">목록 조회 / 관리</button>
            </div>
            <div class="order-review-button">
                <button type="button" class="btn btn-warning btn-controller">리뷰</button>
            </div>
        </div>
    </div>
    <footer>
        Copyright ©2022 . All rights reserved.
    </footer>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</body>

</html>