<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="../../static/css/owner/owner.css" rel="stylesheet" type="text/css" />
    <link href="../../static/css/user/user.css" rel="stylesheet" type="text/css" />

    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<style>

</style>

<body>
    <header>
        일석삼조
    </header>
    <div id="form_all">
        <div id="form_inbox">
            <!-- 로그인 페이지 -->
            <div id="form_login">
                <form method="post">
                    <input type="text" name="username" id="username" placeholder="ID">

                    <input type="password" name="password" id="password" placeholder="PW">

                    <div id="btn_1">
                        <button type="submit" onclick=login_click()>로그인</button>
                        <div class='solid_line'></div>
                        <button type="button" id="signup_btn">회원가입</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer>
        Copyright ©2022 . All rights reserved.
    </footer>

    <script>

    </script>

</body>

</html>