<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="../../static/css/user/main.css" rel="stylesheet" type="text/css" />
    <link href="../../static/css/user/user.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<style>

</style>

<body>
    <header>
        일석삼조
    </header>
    <div id="form_all">
        <div id="form_inbox">
            <!-- 회원가입 페이지 -->
            <div id="form_signup">
                <h3>회원가입</h3>
                <div id="form_div">
                    <label for="name">UserID</label>
                    <input type="text" name="name" id="userid" placeholder="Name">

                    <label for="password">Password</label>
                    <input type="password" name="password" id="password"
                        placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">

                    <label for="password">Re Password</label>
                    <input type="password" name="password" id="re_password"
                        placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">

                    <label for="nickname">Nickname</label>
                    <input type="text" name="nickname" id="nickname" placeholder="nickname">

                    <label for="email">Phone</label>
                    <input type="text" name="email" id="phone" placeholder="phone">

                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Email">

                    <!-- <label for="point">Point</label>
                    <p>회원가입 성공시 <span id="point">1,000,000</span> P 지급</p> -->
                    <div id="btn_1">
                        <button type="button" id="btn_2" onclick="location.href='./owner_login.html'">
                            취소
                        </button>
                        <button type="button" onclick="signup_click()">
                            회원가입
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        Copyright ©2022 . All rights reserved.
    </footer>
    <script>
        function signup_click() {
            const userid = $("#userid").val();
            const password = $("#password").val();
            const re_password = $("#re_password").val();
            const nickname = $("#nickname").val();
            const phone = $("#phone").val();
            const email = $("#email").val();
            // const point = $("#point").val();

            $.ajax({
                type: "POST",
                url: "/api/owner-sign-up",
                data: {
                    userid: userid,
                    password: password,
                    confirmPassword: re_password,
                    email: email,
                    phone: phone,
                    nickname: nickname,
                    // point:point,
                },
                success: function (response) {
                    alert("회원가입을 축하합니다", function () {
                        window.location.replace("/")
                    })
                },
                erroer: function (error) {
                    alert("에러입니다")
                }
            })
        }
    </script>
</body>

</html>